.App {
  text-align: center;
}

.Background {
  height: 841px;
  width: 595px;
}

.Button {
  background: #2096f3;
  color: #ffff;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #2096f3;
  border-radius: 3px;
}

.ButtonReload {
  background: #449d43;
  color: #ffff;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #449d43;
  border-radius: 3px;
}

.Logo {
  height: 80px;
  width: 80px;
}
